<h1><%= client_full_name(@client) %></h1>
  <p>
	<strong>Email: </strong> <%= @client.email_address %>
  </p>
  <p>
    <strong>Address: </strong> <%= @client.address %>
  </p>
  <p>
    <strong>Salesperson: </strong> <%= @client.employee_id.to_s %> 
  </p>
  <p>
    <strong>Date Created: </strong> <%= @client.date_created %>
  </p>
  <p>
  	<%= link_to 'Edit Client', edit_client_path(@client), class: 'button' %> | 
    <%= link_to 'Delete', @client, 
      class: 'button',
        method: :delete, data: { confirm: 'Are you sure?' } %>    
  </p>
  <p>
    <%= link_to("Back to Client List", clients_path) %> | 
  </p>
  