<!DOCTYPE html>
<html>
  <head>
    <title>Harrison Ford Dealership : Admin Panel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<header id="page-header">
  <div id="masthead">
    <h1><%= link_to 'Dashboard', root_path %></h1>
    <h1>Harrison Ford Dealership</h1>
    <nav>
      <p>
          <% if current_admin %>
              <%= link_to current_admin.name, current_admin %>
              <%= link_to 'Log Out', session_path, method: :delete, class: 'button' %>
            <% else %>
              <%= link_to 'Log In', new_session_path, class: 'button' %>
            <% end %>
      </p>
    </nav>
  </div>
</header>
