<%= render "layouts/header" %>
<%= render "layouts/flashes" %>


<div id="wrapper" class="wrapper">
  <div id="container">
    <section id="sidebar">
      <%= render "layouts/sidebar" %>
    </section>
    <section id="content">  
      <%= yield %>
    </section>
  </div>
</div>
  <%= render "layouts/footer" %>

