<%= form_for(@employee) do |f| %>
  <fieldset>
  	<p>
      <%= f.label :first_name, "First Name:" %>
      <%= f.text_field :first_name %>
	  </p>

	  <p>
      <%= f.label :last_name, "Last Name:" %>
      <%= f.text_field :last_name %>
	  </p>
    <p>
      <%= f.label :address, "Address:" %>
      <%= f.text_field :address %>
    </p> 
    <p>
      <%= f.label :email_address, "Email Address:" %>
      <%= f.text_field :email_address %>
    </p>       
    <p>
      <%= f.label :hire_date, "Hire Date:" %>
      <%= f.date_select :hire_date %>
    </p>
    <p>
      <%= f.label :active, "Employee Active?:" %>
      <%= f.check_box :active %>
    </p>
    <p>
        <%= f.label :employee_image_file %>
        <%= f.text_field :employee_image_file %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  </fieldset>
<% end %>
