<%= form_for(@customer) do |f| %>
  <fieldset>
  	<p>
      <%= f.label :cfirstname, "First Name:" %>
      <%= f.text_field :cfirstname %>
	</p>

	<p>
      <%= f.label :clastname, "Last Name:" %>
      <%= f.text_field :clastname %>
	</p>

  <p>
      <%= f.label :cemailaddress, "Email Address:" %>
      <%= f.text_field :cemailaddress %>
  </p>
  <p>
      <%= f.label :caddress_line_one, "Address:" %>
      <%= f.text_field :caddress_line_one %><br />
      <%= f.text_field :caddress_line_two %><br />
      <%= f.text_field :caddress_line_three %>
  </p>
    <p>
      <%= f.submit %>
    </p>
  </fieldset>
<% end %>
